.card {
    border: 2px solid grey;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    margin: 10px;
    text-align: center;

    h3{
        font-size: 30px;
    }

    img {
        height: 50%;

    }
}