.card {
    border: 1px solid grey;
    border-radius: 5px;
    height: 460px;
    width: 280px;
    margin: 10px;
    text-align: center;
    // overflow: scroll;
    background-color: lightgrey;

    h3{
        font-size: 30px;
    }

    img {
        height: 40%;
    }
}